/bin
/html/core
/html/modules/contrib
/html/profiles/contrib
/html/themes/contrib
/html/sites/default/files
/html/libraries
/html/error_log
html/sites/default/settings.php
vendor/
/html/sites/default/settings.php
/private/
.idea
/config/sync/.htaccess
/tmp/
